<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ls.dao.ExperienceDetailInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ls.entity.ExperienceDetailInfo" >
    <result column="experience_id" property="experienceId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="experience_subtitle" property="experienceSubtitle" jdbcType="VARCHAR" />
    <result column="experience_subcontent" property="experienceSubcontent" jdbcType="VARCHAR" />
    <result column="experience_subimg" property="experienceSubimg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    experience_id, order_id, experience_subtitle, experience_subcontent, experience_subimg
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ls.entity.ExperienceDetailInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from experience_detail_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ls.entity.ExperienceDetailInfoExample" >
    delete from experience_detail_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ls.entity.ExperienceDetailInfo" >
    insert into experience_detail_info (experience_id, order_id, experience_subtitle, 
      experience_subcontent, experience_subimg)
    values (#{experienceId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{experienceSubtitle,jdbcType=VARCHAR}, 
      #{experienceSubcontent,jdbcType=VARCHAR}, #{experienceSubimg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ls.entity.ExperienceDetailInfo" >
    insert into experience_detail_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="experienceId != null" >
        experience_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="experienceSubtitle != null" >
        experience_subtitle,
      </if>
      <if test="experienceSubcontent != null" >
        experience_subcontent,
      </if>
      <if test="experienceSubimg != null" >
        experience_subimg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="experienceId != null" >
        #{experienceId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="experienceSubtitle != null" >
        #{experienceSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="experienceSubcontent != null" >
        #{experienceSubcontent,jdbcType=VARCHAR},
      </if>
      <if test="experienceSubimg != null" >
        #{experienceSubimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ls.entity.ExperienceDetailInfoExample" resultType="java.lang.Integer" >
    select count(*) from experience_detail_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update experience_detail_info
    <set >
      <if test="record.experienceId != null" >
        experience_id = #{record.experienceId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.experienceSubtitle != null" >
        experience_subtitle = #{record.experienceSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.experienceSubcontent != null" >
        experience_subcontent = #{record.experienceSubcontent,jdbcType=VARCHAR},
      </if>
      <if test="record.experienceSubimg != null" >
        experience_subimg = #{record.experienceSubimg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update experience_detail_info
    set experience_id = #{record.experienceId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      experience_subtitle = #{record.experienceSubtitle,jdbcType=VARCHAR},
      experience_subcontent = #{record.experienceSubcontent,jdbcType=VARCHAR},
      experience_subimg = #{record.experienceSubimg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>